.header {
    background-color: white;
    display: flex;
    align-items: center;
}
.logo {
    width: 15em;
}
.invisible-btn {
    width: 2em;
    height: 2em;
    background: transparent;
    border: none;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: 10px;
}