@import url(reset.css);
@import url(header.css);
@import url(main.css);

:root {
    --offwhite: #f7f7f7;
    --weirdbrown: #b7ae8f;
    --primaryfont: "Poppins";
}
 body{
    background-color: var(--offwhite);
    font-family: var(--primaryfont);
 }